.features-welcome {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

@media (min-width: @tablet-width) {
  .features-welcome {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

@media (min-width: @desktop-width) {
  .features-welcome {
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
