.features-picture__wrapper {
  background: @blue;
  color: @white;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 20px;
  text-align: left;
}

.features__list--nude {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  background: #eee;
}

@media (min-width: @tablet-width) {
  .features-picture__wrapper {
    display: flex;
    flex-direction: row;
  }
  .features__list {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .features__list--nude {
    display: flex;
    flex-direction: row;
    min-height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .features-picture__wrapper {
    justify-content: space-between;
  }
  .features__list--nude {
    justify-content: space-between;
  }
}
