.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.form__sections {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  border: none;

  &--feedback {
    padding-bottom: 15px;
  }

  &--impression {
    padding-bottom: 0;
  }
}

.form__title {
  display: block;
  width: 320px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid #e5e5e5;
}

.form__list {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.form__item {
  display: flex;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 20px;
}

.form__item-contact {
  position: relative;
}

.form__label {
  align-self: center;
  padding-right: 15px;
}

.form__input {
  width: 100%;
  background-color: @grey;
  border: 4px solid transparent;
  padding-left: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: bold;

  &::placeholder {
    color: @black;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    border: 4px solid #e5e5e5;
    background-color: @white;
  }
}

.form__item-contact .form__label {
  display: block;
  padding-left: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.form__item-contact .form__input {
  display: block;
  margin-bottom: 13px;
  padding-right: 50px;
  width: auto;
}

.form__input-phone::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 0;
  width: 58px;
  height: 58px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e6e6e6;
  background-image: url("../img/icon-phone.svg");
}

.form__input-mail::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 0;
  width: 58px;
  height: 58px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e6e6e6;
  background-image: url("../img/icon-mail.svg");
}

.form__list-radio {
  margin: 0;
  list-style: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
}

.form__item-radio {
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  padding-left: 73px;
  margin-bottom: 44px;
}

.form__label-radio {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -77px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #f2f2f2;
  }
}

.form__input-radio:hover + .form__label-radio::before {
  background-color: #d5d5d5;
}

.form__input-radio:focus + .form__label-radio::before {
  outline: 2px solid #81b3d2;
}

.form__input-radio:active + .form__label-radio::before {
  background-color: #d5d5d5;
  opacity: 0.3;
}

.form__input-radio:checked + .form__label-radio::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: -60px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: @black;
}

.form__list-checkbox {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}

.form__item-checkbox {
  font-size: 18px;
  font-weight: bold;
  text-transform: none;

  &:nth-child(4) {
    margin-bottom: 8px;
  }
}

.form__label-checkbox {
  position: relative;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 80px;
  padding-bottom: 25px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    background-color: @grey;
  }
}

.form__input-checkbox:hover + .form__label-checkbox::before {
  background-color: #d5d5d5;
}

.form__input-checkbox:checked + .form__label-checkbox::after {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 16px;
  top: 18px;
  left: 17px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.form__input-checkbox:focus + .form__label-checkbox::before {
  outline: 2px solid #81b3d2;
}

.form__enter {
  display: block;
  width: 225px;
  background-color: @grey;
  border: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: @black;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 21px;
  padding-bottom: 13px;
  padding-top: 12px;
  padding-right: 29px;
}

.form__btn-wrapper {
  margin: auto;
}

.form__btn {
  border: none;
  outline: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: @blue;
  color: @white;
  margin-top: 47px;
  margin-bottom: 37px;
  padding-left: 47px;
  padding-top: 16px;
  padding-right: 47px;
  padding-bottom: 16px;

  &:focus {
    border: none;
    outline-color: @white;
  }
}

.form__field {
  display: none;
}

@media (min-width: @tablet-width) {
  .form {
    padding-left: 60px;
    padding-right: 60px;
  }

  .form__title {
    font-size: 21px;
    border: none;
  }

  .form__sections:nth-child(1) {
    width: 270px;

    & .form__title {
      padding-left: 55px;
      padding-bottom: 58px;
      text-align: left;
    }

    & .form__list {
      padding-left: 55px;
      padding-right: 0;
    }
  }

  .form__sections:nth-child(2) {
    width: 100%;
    position: relative;

    & .form__title {
      padding-top: 33px;
      padding-bottom: 25px;
      margin: auto;

      &::before {
        content: "";
        position: absolute;
        top: 45px;
        left: 0;
        height: 1px;
        width: 125px;
        background-color: @grey;
      }

      &::after {
        content: "";
        position: absolute;
        top: 45px;
        right: 0;
        height: 1px;
        width: 125px;
        background-color: @grey;
      }
    }

    & .form__list {
      padding-left: 0;
      padding-right: 0;
    }

    & .form__input {
      width: 86%;
      margin-bottom: 25px;
    }
  }

  .form__sections:nth-child(3) {
    order: -1;

    & .form__title {
      text-align: left;
      padding-bottom: 73px;
    }
  }

  .form__sections--impression {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      right: -4px;
      width: 1px;
      height: 292px;
      background-color: @grey;
    }
  }

  .form__list-radio {
    padding: 0;
  }

  .form__item-radio {
    margin-bottom: 53px;
    padding-left: 77px;
  }

  .form__sections:nth-child(4) {
    width: 100%;
    padding-bottom: 20px;
    position: relative;

    & .form__title {
      margin: auto;
      text-align: center;
      padding-top: 11px;
      padding-bottom: 46px;

      &::before {
        content: "";
        position: absolute;
        top: 38px;
        left: 0;
        height: 1px;
        width: 125px;
        background-color: @grey;
      }

      &::after {
        content: "";
        position: absolute;
        top: 38px;
        right: 0;
        height: 1px;
        width: 125px;
        background-color: @grey;
      }
    }

    & .form__input {
      width: 87%;
      margin-bottom: 25px;
      padding-bottom: 16px;
    }

    & .form__list {
      padding-left: 54px;
      padding-right: 0;
    }
  }

  .form__sections:nth-child(5) {
    width: 100%;
    position: relative;

    & .form__title {
      text-align: center;
      padding-left: 0;
      padding-top: 11px;
      padding-bottom: 58px;
      padding-right: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 20px;
        left: 0;
        height: 1px;
        width: 125px;
        background-color: @grey;
      }

      &::after {
        content: "";
        position: absolute;
        top: 20px;
        right: 0;
        height: 1px;
        width: 125px;
        background-color: @grey;
      }
    }
  }

  .form__list-checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 80px;
  }

  .form__item-checkbox {
    margin-bottom: 30px;
  }

  .form__label-checkbox {
    width: 180px;
    text-align: left;
  }

  .form__item-checkbox:nth-child(3) {
    margin-right: 0;

    & .form__title {
      padding-bottom: 73px;
      font-size: 21px;
      text-align: left;
      border: none;
    }
  }

  .form__enter {
    width: 564px;
    margin-left: 0;
    padding-right: 65px;
  }

  .form__btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 650px;
  }

  .form__btn {
    display: flex;
    margin-top: 55px;
    padding-right: 76px;
    padding-top: 17px;
    padding-left: 65px;
    padding-bottom: 16px;
    margin-bottom: 59px;
  }

  .form__field {
    display: block;
    padding-top: 75px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    padding-left: 120px;
    padding-right: 120px;
  }

  .form__invisible {
    display: none;
  }

  .form__sections:nth-child(1) {
    flex-grow: 1;
  }

  .form__sections:nth-child(1) .form__title {
    padding-top: 15px;
    padding-left: 78px;
  }

  .form__sections:nth-child(1) .form__list {
    padding-left: 80px;

    & .form__item {
      margin-bottom: 20px;
    }
  }

  .form__sections:nth-child(2) {
    padding-bottom: 8px;

    & .form__title {
      margin: auto;
      margin-bottom: 46px;

      &::before {
        width: 280px;
      }

      &::after {
        width: 280px;
      }
    }

    & .form__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    & .form__item-contact {
      display: flex;
    }

    & .form__label {
      padding-left: 0;
      margin-bottom: 20px;
    }
  }
  .form__input-phone::after {
    top: 0;
    right: -41px;
  }
  .form__input-mail::after {
    top: 0;
    right: -41px;
  }

  .form__label-radio::before {
    left: -75px;
  }

  .form__input-radio:checked + .form__label-radio::after {
    left: -57px;
  }

  .form__sections:nth-child(3) {
    flex-grow: 1;
  }

  .form__sections:nth-child(3) .form__title {
    margin-left: 81px;
    margin-right: -130px;
    padding-top: 14px;
  }

  .form__sections:nth-child(4) .form__title {
    padding-top: 20px;
    margin: auto;
    padding-left: 0;
    text-align: center;

    &::after {
      width: 280px;
    }

    &::before {
      width: 280px;
    }
  }

  .form__list-checkbox {
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .form__item-checkbox {
    margin-right: 0;
  }

  .form__item-checkbox:nth-child(3) {
    margin-right: 0;
  }

  .form__label-checkbox {
    width: 125px;
  }

  .form__sections:nth-child(5) .form__title {
    padding-right: 7px;
    margin: auto;
  }

  .form__sections--impression::after {
    right: 0;
  }

  .form__enter {
    width: 939px;
    padding-right: 0;
    margin-right: 0;
  }

  .form__btn-wrapper {
    width: 965px;
  }

  .form__btn {
    padding-right: 148px;
    padding-left: 148px;
    margin-bottom: 63px;
  }
}
