.page-main {
  width: auto;
}

.page-main__header {
  padding-top: 39px;
  border-bottom: 1px solid #eeeeee;
}

.page-main__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}

.page-main__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  padding-top: 26px;
  padding-bottom: 17px;
}
