.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-header__logo {
  position: absolute;
  order: 2;
  width: 100px;
  height: 83px;
  margin: 0 auto;
}
