.photo {
  width: 100%;
}

.photo__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.photo__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-top: 22px;
}

@media (min-width: @tablet-width) {
  .photo__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .photo__item {
    width: 325px;
    background: #f2f2f2;
    padding: 0;
    &--outset {
      width: 648px;
    }
  }
}

@media (min-width: @desktop-width) {
  .photo__item {
    width: 400px;
    &--outset {
      width: 1200px;
    }
  }
}
